In [1]:
import numpy as np
import pandas as pd

# To show all rows: pd.set_option('display.max_rows', None)
df = pd.read_csv("C:/Users/10/Desktop/Jupyter/diabetes.csv")
# To see the number of missing data
#df.isnull().sum()#
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [2]:
# To see the title of columns
# for col in df.columns:
        #print(col)#
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [3]:
df1 = df.copy()
df1 = df1.loc[:, (df1.columns != 'Outcome') & (df1.columns != 'Pregnancies')]
df_preg = df.loc[:,df.columns == "Pregnancies"]
#df_preg#
df_outcome = df.loc[:,df.columns == "Outcome"]
df_outcome

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [4]:
df1 = df1.replace({'0':np.nan, 0:np.nan})
df1

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148.0,72.0,35.0,NaN,33.6,0.627,50.0
1,85.0,66.0,29.0,NaN,26.6,0.351,31.0
2,183.0,64.0,NaN,NaN,23.3,0.672,32.0
3,89.0,66.0,23.0,94.0,28.1,0.167,21.0
4,137.0,40.0,35.0,168.0,43.1,2.288,33.0
...,...,...,...,...,...,...,...
763,101.0,76.0,48.0,180.0,32.9,0.171,63.0
764,122.0,70.0,27.0,NaN,36.8,0.340,27.0
765,121.0,72.0,23.0,112.0,26.2,0.245,30.0
766,126.0,60.0,NaN,NaN,30.1,0.349,47.0
767,93.0,70.0,31.0,NaN,30.4,0.315,23.0

In [5]:
# Filling NAN with Mean ----- CAUTION: THIS IS NOT THE BEST METHOD OF FILLING NAN VALUES.
df1 = df1.fillna(df1.mean().astype(int))
df1.dtypes

Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                         float64
dtype: object

In [6]:
df1.insert(0, "Pregnancies", df_preg)
df1.insert(8, "Outcome", df_outcome)
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,155.0,33.6,0.627,50.0,1
1,1,85.0,66.0,29.0,155.0,26.6,0.351,31.0,0
2,8,183.0,64.0,29.0,155.0,23.3,0.672,32.0,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122.0,70.0,27.0,155.0,36.8,0.340,27.0,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126.0,60.0,29.0,155.0,30.1,0.349,47.0,1
767,1,93.0,70.0,31.0,155.0,30.4,0.315,23.0,0

In [7]:
df1 = df1.loc[(df1["Pregnancies"] < 14)]
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,155.0,33.6,0.627,50.0,1
1,1,85.0,66.0,29.0,155.0,26.6,0.351,31.0,0
2,8,183.0,64.0,29.0,155.0,23.3,0.672,32.0,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122.0,70.0,27.0,155.0,36.8,0.340,27.0,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126.0,60.0,29.0,155.0,30.1,0.349,47.0,1
767,1,93.0,70.0,31.0,155.0,30.4,0.315,23.0,0

In [8]:
# Only for classification of pregnancies
# df1["Preg_Class"] = 3        
# df1.loc[(df["Pregnancies"] == 0), "Preg_Class" ] = 0
# df1.loc[(df["Pregnancies"] == 1) | (df1["Pregnancies"]== 2), "Preg_Class" ] = 1
# df1.loc[(df["Pregnancies"] == 3) | (df1["Pregnancies"]== 4) | (df1["Pregnancies"]== 5), "Preg_Class" ] = 2
# df1.head()

In [ ]:
df1.describe().T

In [ ]:
import dtale as dt
dt.show(df1)

In [ ]:
import bamboolib as bam
df1

In [ ]:
from dataprep.eda import plot, plot_missing, plot_correlation

In [ ]:
plot(df1)

In [ ]:
plot_missing(df1)

In [ ]:
plot_correlation(df1)

In [ ]:
from pandas_profiling import profile_report
df1.profile_report()

In [ ]:
plot(df1, "BloodPressure")
# Compare with plot(df1.BloodPressure)

In [ ]:
import bamboolib as bam
df1

In [9]:
#create a dataframe with all training data except the target column (Glucose)
df2 = df1. dropna()
#If you want to drop one single column, you can:
#X = df2.drop(columns="Glucose")

#To select specific columns:
X = df2[["BloodPressure","SkinThickness","Insulin","Age","Glucose"]]
X

     BloodPressure  SkinThickness  Insulin   Age  Glucose
0             72.0           35.0    155.0  50.0    148.0
1             66.0           29.0    155.0  31.0     85.0
2             64.0           29.0    155.0  32.0    183.0
3             66.0           23.0     94.0  21.0     89.0
4             40.0           35.0    168.0  33.0    137.0
..             ...            ...      ...   ...      ...
763           76.0           48.0    180.0  63.0    101.0
764           70.0           27.0    155.0  27.0    122.0
765           72.0           23.0    112.0  30.0    121.0
766           60.0           29.0    155.0  47.0    126.0
767           70.0           31.0    155.0  23.0     93.0

[764 rows x 5 columns]

In [10]:
# Separate target values
y = df2["Outcome"].values
# See the first 5 rows
y[0:5]
# Another Way of writing this code is:
# y = df2[["Outcome"]]
# See the first 5 rows
# y.head()

array([1, 0, 1, 0, 1], dtype=int64)

In [11]:
from sklearn.model_selection import train_test_split
#split dataset into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)
X_train

     BloodPressure  SkinThickness  Insulin   Age  Glucose
448           64.0           37.0     64.0  22.0    104.0
588           86.0           27.0    156.0  52.0    176.0
164           88.0           29.0    155.0  32.0    131.0
67            92.0           29.0    155.0  54.0    109.0
125           30.0           42.0     99.0  26.0     88.0
..             ...            ...      ...   ...      ...
649           60.0           25.0    155.0  23.0    107.0
719           76.0           27.0    155.0  52.0     97.0
72            90.0           29.0    155.0  42.0    126.0
237           90.0           27.0    155.0  23.0    179.0
37            76.0           37.0    155.0  46.0    102.0

[458 rows x 5 columns]

In [ ]:
# ONLY USE IF YOU WANT TO USE LABEL ENCODER
#from sklearn import preprocessing
#from sklearn import utils
#
#lab_enc = preprocessing.LabelEncoder()
#encoded = lab_enc.fit_transform(y_train)
#
#print(utils.multiclass.type_of_target(trainingScores))
##should be ->>>> continuous
#
#print(utils.multiclass.type_of_target(trainingScores.astype('int')))
##should be ->>> multiclass
#
#print(utils.multiclass.type_of_target(encoded))
##should be ->>> multiclass""

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7,metric="canberra")
knn.fit(X_train,y_train)

#check accuracy of our model on the test data
knn.score(X_test, y_test)

0.7189542483660131

In [13]:
from sklearn import svm
#Create a svm Classifier
clf = svm.SVC(kernel='rbf', degree = 5, gamma = 0.001, C = 10) # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
clf.score(X_test, y_test)

0.6928104575163399

In [14]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
# print("Accuracy:",metrics.accuracy_score(y_test, y_pred)) ----- THIS IS NOT GOING TO WORK HERE

In [21]:
from sklearn.ensemble import RandomForestClassifier

# Create a svm Classifier#
clf=RandomForestClassifier(n_estimators=1000, criterion="entropy")

# Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

# Predict the response for test dataset
y_pred=clf.predict(X_test)
clf.score(X_test, y_test)

0.7483660130718954

In [22]:
from sklearn.neural_network import MLPRegressor

MLP = MLPRegressor(learning_rate_init=0.01, max_iter=100, momentum=0.9, hidden_layer_sizes=(10,10,10,10), random_state=2, activation="relu", learning_rate="adaptive").fit(X_train,y_train)
y_pred=MLP.predict(X_test)
MLP.score(X_test, y_test)

0.24651002076866668